/*
 * layout scene
 */
#leftbar-sculpture .Text{
	font-size:15px;
	width:80px;
}
#leftbar-sculpture .Integer {
	width:40px;
}
#leftbar-sculpture .Number {
	width:30px;
	margin-left:20px;
}
#leftbar-sculpture .Button {
	height:30px;
    width:30px;
}
#morphs .Number {
	width:30px;
    margin-left:0;
    margin-right:10px;
}
#layout {
    margin-left:10px !important;
    margin-top:0 !important;
    background-image: url(icons/general/confirm.svg);
}
#clear-layout {
    margin-top:0 !important;
    background-image: url(icons/general/cancel.svg);
}
#skeleton {
    background-image: url(icons/general/confirm.svg);
}
#clear-skeleton{
    background-image: url(icons/general/cancel.svg);
}
#generate-unit{
    background-image:url(icons/menubar/unit-scene.svg);
}
#translation-controller {
    margin-left:0 !important;
    color:red !important;
    width:150px !important;
    height:30px !important;
}
#rotation-controller {
    margin-left:0 !important;
    color:green !important;
    width:150px !important;
    height:30px !important;
}
#scale-controller {
    margin-left:0 !important;
    color:blue !important;
    width:150px !important;
    height:30px !important;
}

#transmissions {
    background-image: url(icons/leftbar/transmissions.svg);
}