/*
 * unit scene
 */

.param-semantics {
    font-size:16px;
	margin:2px;
	width:100px;
}
#leftbar-unit .Integer {
	width:40px;
}
#leftbar-unit .Number {
	width:40px;
}
#polygon {
    background-image: url(icons/leftbar/polygon.svg);
}

/* accessory config */
#add-acc {
    height:25px !important;
    width:25px !important;
    background-image:url(icons/leftbar/add-acc.svg);
}

#import-unit {
    background-image: url(icons/menubar/open.svg);
}

#leftbar-unit-semantic .Text{
	width: 96px;
	font-size: 16px;
	margin-top:5px;
	margin-bottom:5px;
}
#leftbar-unit-blade .Text{
	font-size: 16px;
	margin-top:5px;
	margin-bottom:5px;
}