/*
 * Rightbar
 */

/* rightbar */
#rightbar {
	position: absolute;
	bottom: 27px;
	right: 0;
	width: 200px;
	height: calc(100% - 81px);
	background-color: #fff;
	border-left: solid 2px #333;
	border-right: solid 2px #333;
	overflow-x:hidden;
	overflow-y:auto;
}
#rightbar .Number{
	width: 50px;
}
#rightbar .Integer{
	width: 50px;
}
#rightbar button{
	height:50px;
	width:50px;
	margin:5px;
	border: solid 1px #eee;

}
#rightbar button:hover {
	background-color: #bbb;
	border: solid 1px black;
}
#rightbar button.selected {
	background-color: #bbb;
	border: solid 1px black;
}

#rightbar-geometry .Text{
	font-size: 14px;
	width:70px;
}

#point-layer {
	background-size: 20% 20% !important;
	background-image:url(icons/rightbar/dot.svg);
}
#line-layer {
	background-image:url(icons/toolbar/line.svg);
}
#bone-layer {
	background-image:url(icons/rightbar/skeleton.svg);
}
#mesh-layer {
	background-image:url(icons/rightbar/object.svg);
}
#env-layer {
	background-image:url(icons/rightbar/envelope.svg);
}
#helper-layer {
	background-image:url(icons/rightbar/helper.svg);
}
#scene1{
	background-image: url(../cubemaps/scene1/nz.jpg);
}
#scene2{
	background-image: url(../cubemaps/scene2/nz.jpg);
}